html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
    color: white;
    margin: auto;
    max-width: 900px;
    line-height: 1.5;
    font-size: 1.2em;
    text-align: center;
}

#header {
    width: 100%;
    min-height: 250px;
    color: #fff;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 1em 0em;
    width: 100%;
    text-align: center;
    letter-spacing: 0.2em
}

#header p {
    margin: 0px 20px;
}

#img-caption {
    font-size: 0.6em;
    font-style: italic
}

#img-div {
    width: auto;
    height: auto;
    max-width: 900px;
}

#image {
    width: 100%;
    height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info-boxes {
    margin: 0 0.3em;
    background: transparent;
}

#link {
    padding-bottom: 1.5em;
}